body {
	font-family: "Helvetica Neue", sans-serif;
	position: absolute;
	margin: 0px;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.title {
    height: 30px;
    color:#000;
}

#Button1 {
    height: 51px;
    width: 71px;
	background: url(menu/button1.png) no-repeat;
}
#Button2 {
    height: 51px;
    width: 71px;
	background: url(menu/button2.png) no-repeat;
}
#Button3 {
    height: 51px;
    width: 71px;
	background: url(menu/button3.png) no-repeat;
}
#Button4 {
    height: 51px;
    width: 71px;
	background: url(menu/button4.png) no-repeat;
}
#Button5 {
    height: 51px;
    width: 71px;
	background: url(menu/button5.png) no-repeat;
}
#Button6 {
    height: 51px;
    width: 71px;
	background: url(menu/button6.png) no-repeat;
}
#Button7 {
    height: 51px;
    width: 71px;
	background: url(menu/button7.png) no-repeat;
}
#Button8 {
    height: 51px;
    width: 71px;
	background: url(menu/button8.png) no-repeat;
}


.mappanel {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom:0px;
	background: #fff;
}

#mapframe {
	width: 100%;
	height: 100%;
}

.sweepin-panel {
  position: absolute;
  overflow: hidden;
  display: inline; 
  
}

.sweepin-panel.left {
  left: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 29px;
  height: 96px;
  background:url(menu/legend.png) no-repeat;
}

.sweepin-panel.top {
  top: 0px;
  width: 75px;
  height: 28px;
  background:url(menu/menu.png) no-repeat;
}



.sweepin-panel.roll-over:hover, .sweepin-panel.clicked {
  
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
  opacity: 0.9;
 
}

.sweepin-panel.roll-over.left:hover, .sweepin-panel.clicked.left {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #fff;
}


.sweepin-panel.roll-over.top:hover, .sweepin-panel.clicked.top {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  margin-left: -250px;
}


.sweepin-content.top {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sweepin-content.left {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 13px;
}


.sweepin-content:hover {
  cursor: pointer;
  
}

.sweepin-content .item, .sweepin-content .title {
  padding: 0px 16px 0px 16px;
  line-height: 22px;
}

.sweepin-content iframe {
  margin: 10px 16px 10px 16px;
}

.sweepin-content .title {
  font-weight: bold;
  text-decoration: underline;
}

.sweepin-content .item:hover {
  background: #000;
  color: white;
  
}


.ns {
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
