html,
body {
    height: 100%;
    width: auto;
}

.carousel {
    height: 70%;
    width: auto;
}

.item,
.active {
    height: 100%;
    width: 100%;
}

.carousel-inner {
    height: 100%;
    width: auto;
}

.fill {
    height: 100%;
    width: auto;
    /*background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}