body {
	font-family: "Helvetica Neue", sans-serif;
	position: absolute;
	margin: 0px;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor:url(../../data/icons/cursor.png),auto;
}




#singleviewmap{
  position: absolute;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
}


#basemap {
	position: absolute;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
}
.info {
	position: absolute;
	width: 10%;
	bottom: 18px;
	height: 10%; 
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}


#basemapclone {
  position: absolute;
  width:0%;
  height:100%;
  left: 50%;
  top: 0;
  right:0;
  bottom:0;
}

.sweepin-content{
opacity:0.0;
}

.title {
    height: 30px;
    color:#000;
}

/*-----------------Legend-----------------*/
#topicstable tr td:empty{
width:10px;
}
/*-----------------Menu Buttons-----------------*/
#home_button {
  height: 50px;
  width: 75px;
	background: url(../../data/icons/home.png) no-repeat;
}
#singleview_button {
  height: 50px;
  width: 75px;
  background: url(../../data/icons/singleview.png) no-repeat;
}
#dualview_button {
  height: 50px;
  width: 75px;
  background: url(../../data/icons/dualview.png) no-repeat;
}
#overlayview_button {
  height: 50px;
  width: 75px;
  background: url(../../data/icons/overlayview.png) no-repeat;
}
#graph_button {
  height: 50px;
  width: 75px;
  background: url(../../data/icons/graph.png) no-repeat;
}
#info_button {
  height: 50px;
  width: 75px;
  background: url(../../data/icons/info.png) no-repeat;
}
#help_button {
  height: 50px;
  width: 75px;
  background: url(../../data/icons/help.png) no-repeat;
}

/*-----------------Infograph-----------------*/
.notshown{
  display: none;
}

.shown{
  display: block;
}

#prova{
resize:both;
overflow:auto;
}


#infotext_infograph{
  height: 200px;
}
#graphtext_infograph{
  height: 200px;
}

.mappanel {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom:0px;
	background: #fff;
}

#mapframe {
	width: 100%;
	height: 100%;
}

.sweepin-panel {
  position: absolute;
  overflow: hidden;
  display: inline;  
}

.container {
position:absolute;
padding-top:190px;

  
  
  height: 190px;
}

#contain{
padding-right:0px;
padding-left:1185px;

width: 1368px;
}

.sweepin-panel.left {
  left: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 68px;
  height: 69px;
  background:url(../../data/icons/llegend.png) no-repeat;
}

.sweepin-panel.right {
  right: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 68px;
  height: 69px;
  background:url(../../data/icons/infograph.png) no-repeat;
}

.title{
margin-left: 30px;
}

#selecttheme_button{
margin-left: 30px;
}
.accordion_level12{
margin-left: 30px;
}

#selecttheme_button_dual{
margin-left: 30px;
}


#selectyear_button{
margin-left: 30px;
}

#selectyear_button_dual{
margin-left: 30px;
}
.accordion_level32{
margin-left: 30px;
}

.sweepin-panel.top {
  top: 0px;
  width: 111px;
  height: 39px;
  background:url(../../data/icons/menu.png) no-repeat;
}

.sweepin-panel.roll-over:hover, .sweepin-panel.clicked {
  background: #fff;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
  opacity: 1;
}

.sweepin-panel.roll-over.left:hover, .sweepin-panel.clicked.left {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #fff;
}

.sweepin-panel.roll-over.right:hover, .sweepin-panel.clicked.right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
}

.sweepin-panel.roll-over.top:hover, .sweepin-panel.clicked.top {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  margin-left: -320px;
}


.sweepin-content.top {
  position: relative;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;

}

.sweepin-content.left {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 5px;
}



.sweepin-content:hover {
  cursor: pointer;
  opacity: 1.0;
}

.sweepin-content .item, .sweepin-content .title {
  padding: 0px 16px 0px 16px;
  line-height: 22px;
}

.sweepin-content iframe {
  margin: 10px 16px 10px 16px;
}

.sweepin-content .title {
  font-weight: bold;
  font-size: 20px;
  
}

.sweepin-content .item:hover {
  background: #000;
  color: white;
  
}



.ns {
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}




