body {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: Garamond, Helvetica;
    font-size: 12pt;
    background: #04010B;
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

h1{
    color: #CCD6E0;
    font-family: Helvetica;
    font-size: 40pt;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    /*text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);*/
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

#row1{
    height: 25%;
    max-height: 25%;
    min-height: 25%;
    margin: 0;
}

#row2{
    height: 60%;
    max-height: 60%;
    min-height: 60%;
    margin: 0;
}

#row3{
    height: 15%;
    max-height: 15%;
    min-height: 15%;
    margin: 0;
}
/*#coverfullpage{
    top: 0; left: 0; bottom: 0; right: 0;
    /*border-collapse: collapse;
    overflow-x: hidden;
    overflow-y: hidden;*
}*/

#title_imagegallerytitle{
    width: 45%;
    max-width: 45%;
    height: 90%;
    margin: 0 auto;
}

#btn_gotomaps{
    width: 100%;
    max-width: 20%;
    height: auto;
    margin: 2% auto;
}

.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
        	font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
        	color: #ffffff;
        	text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: #04010B;
        }