body {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: Garamond, Helvetica;
    font-size: 12pt;
    background: #04010B;
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

h1{
    color: #CCD6E0;
    font-family: Helvetica;
    font-size: 40pt;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    /*text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);*/
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

#row1{
    height: 25%;
    margin: 0;
}

#row2{
    height: 60%;
    margin: 0;
}

#row3{
    height: 15%;
    margin: 0;
}
/*#coverfullpage{
    top: 0; left: 0; bottom: 0; right: 0;
    /*border-collapse: collapse;
    overflow-x: hidden;
    overflow-y: hidden;*
}*/

#title_imagegallerytitle{
    width: 45%;
    max-width: 45%;
    height: 90%;
    margin: 0 auto;
}

#btn_gotomaps{
    width: 100%;
    max-width: 20%;
    height: auto;
    margin: 2% auto;
}

.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    background: #04010B;
    overflow:hidden;
    cursor: pointer;
}
            
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }